:root {
  --bg-dark: #030303;
  --bg-light: #fff;
  --dark-red: #710707;
  --font-color-light: #fff;
  --font-color-gold: #9D8665;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 100;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.header {
  background-color: var(--bg-dark);
}
.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}
.logo {
  padding: 0 10px 0 70px;
  background-image: url('../assets/svg/logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  font-family: 'Forum', Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  color: var(--font-color-light);
  text-transform: uppercase;
  cursor:default;
}
.nav {
  max-width: 720px;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}
.nav__link {
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--font-color-light);
  transition: all 0.3s;
}
.nav__link:hover,
.nav__link:active {
  color: var(--font-color-gold);
}

.section--dark {
  color: var(--font-color-light);
  background-color: #000;
}
.section--light {
  background-color: var(--bg-light);
  color: #000;
}
.welcome-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 730px;
  background: url(../assets/img/welcome-background.jpg) bottom right no-repeat;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  padding: 90px 0 26px;
  font-family: 'Forum', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.section-title span {
  display: block;
}
.subtitle {
  padding-bottom: 100px;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
}
.welcome-link {
  padding: 27px 70px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: var(--dark-red);
  transition: all .3s;
}
.welcome-link:hover{
  background-color: var(--font-color-gold);
}
.section-title--gold {
  padding-top: 75px;
  color: var(--font-color-gold);
}
.section-title--gold::after {
  content: '';
  display: block;
  margin: 28px 0 50px;
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}
.tour__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 70px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0px 0px 50px var(--font-color-gold);
}
.card-image {
  max-width: 440px;
  width: 100%;
}
.card-title {
  padding: 15px 0 11px;
  font-family: 'Forum', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.card-title::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 300px;
  height: 1px;
  background-color: var(--dark-red);
  transition: all .4s;
}
.card:hover .card-title::after {
  width: 100%;
}
.card-desc p{
  padding-top: 10px;
  font-size: 18px;
}

.explore {
}
.container--explore {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 75px 0;
}
.explore-desc {
  width: 660px;
}
.section-title--dark {
  padding-top: 0px;
}
.section-title--dark::after {
  content: '';
  display: block;
  margin: 30px 0 75px;
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}
.explore-text {
  padding: 12.5px 0;
  font-weight: 300;
  line-height: 38.5px;
}
.explore-text span {
  color: #CAAA7D;
}
.explore-img {
  max-width: 720px;
}

.video {
  padding-bottom: 75px;
}
.video-back {
  margin-top: 90px;
  position: relative;
  padding: 0;
  background-color: #000;
}
.btn {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: all .2s;
}
.btn:hover {
  filter: invert(65%) sepia(0%) saturate(380%) hue-rotate(242deg) brightness(95%) contrast(86%);
  transform: scale(0.95);
  cursor: pointer;
}
.btn:active {
  filter: invert(50%) sepia(42%) saturate(300%) hue-rotate(356deg) brightness(99%) contrast(84%);
  transform: scale(0.8);
}
.btn-play--big {
  position: absolute;
  top: 32%;
  left: 42%;
  width: 220px;
  height: 220px;
  background-image: url(../assets/svg/play-big.svg);
}
.video-controls {
  height: 85px;
  background-color: #000;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
}
.btn-prev {
  width: 27px;
  height: 30px;
  background-image: url(../assets/svg/arrow-prev.svg);
}
.btn-play {
  width: 23px;
  height: 30px;
  background-image: url(../assets/svg/play.svg);
}
.btn-next {
  width: 27px;
  height: 30px;
  background-image: url(../assets/svg/arrow-next.svg);
}
.btn-volume {
  margin-left: 15px;
  width: 37px;
  height: 30px;
  background-image: url(../assets/svg/volume.svg);
}
.btn-screen {
  width: 36px;
  height: 36px;
  background-image: url(../assets/svg/fullscreen.svg);
}
input[type=range]{
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  box-shadow: 0px 0px 0px #000000;
  background: #c4c4c4;
  background: linear-gradient(to right,#24809e 0%,#24809e 48%,#c4c4c4 0%,#c4c4c4 100%);
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -4px;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
.video-progress {
  width: 820px;
}
.volume-progress {
  width: 155px;
}
.video-desc {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.video-title {
  font-family: 'Forum', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-color-gold);
}
.video-text {
  margin-top: 5px;
  width: 720px;
  font-weight: 300;
  line-height: 38px;
}

.tickets {
  padding: 75px 0;
}

.contacts {
  padding-bottom: 75px;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
}
.contacts-title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 36px;
}
.contacts-title span {
  display: block;
}
.contacts-info {
  margin-bottom: 20px;
}

.footer {
  height: 300px;
  padding: 75px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__inner .logo {
  background-position: left 6%;
}
.footer-nav {
  margin-left: -255px;
}
.footer-list {
  width: 370px;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  column-gap: 158px;
}
.footer-link {
  letter-spacing: 2px;
  line-height: 50px;
  transition: all .3s;
}
.footer-link:hover {
  color: var(--font-color-gold);
}
.socials__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 340px;
  gap: 24px;
  padding-bottom: 15px;
}
.socials__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #666666;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s;
}
.socials__link:hover {
  filter: invert(50%) sepia(42%) saturate(300%) hue-rotate(356deg) brightness(99%) contrast(84%);
}
.socials__link--yt {
  background-image: url(../assets/svg/socials-youtube.svg);
}
.socials__link--inst {
  background-image: url(../assets/svg/socials-instagram.svg);
}
.socials__link--fb {
  background-image: url(../assets/svg/socials-fb.svg);
}
.socials__link--tw {
  background-image: url(../assets/svg/socials-twitter.svg);
}
.socials__link----pin {
  background-image: url(../assets/svg/socials-pinterest.svg);
}